{% extends "base.html" %}

{% block body %}



<link rel="stylesheet" href="style1.css">


<div class="info-box">
    <p>
        დღევანდელ სამყაროში, უსახლკარო ცხოველთა რაოდენობა, უფრო და უფრო იმატებს, ჩვენი მიზანია, რომ მათ მივუჩინოთ უსაბრთო თვშესაფარი და მოსიყვარულე ოჯახი. ეს საიტი გამორჩეულია იმით, რომ ის ძირითადად ორიენტირებულია უსახლკარო ცხოველებზე, ის გვთავაზობს იმის საშუალებას, რომ ჩვენ საჯაროდ ავტვირთოთ მათი ინფორმაცია და ვაპოოვნინოთ სახლი.
    </p>
</div>




{% endblock %}