{% extends "base.html" %}

{% block body %}

<hr>
<div class="row g-4">
    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/b5/7e/a2/b57ea27a8a99395a6ae844ca77d18f60.jpg" class="card-img-top" alt="Dog 1">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/f5/ce/b9/f5ceb989397c3a4c93734e6b5aaad813.jpg" class="card-img-top" alt="Dog 2">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">150$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/b8/9a/90/b89a902ff06c77e925797f10c6eabc51.jpg" class="card-img-top" alt="Dog 3">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">500$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/a8/cf/52/a8cf523785e60cb1f949ffae9b412f0a.jpg" class="card-img-top" alt="Dog 4">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row g-4">
    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/ba/93/e6/ba93e66880be493d0cff3565f369eddf.jpg" class="card-img-top" alt="Dog 1">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/8b/1b/90/8b1b90c4fdcc2f166651607b4d3344b8.jpg" class="card-img-top" alt="Dog 2">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">150$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/a3/58/fd/a358fd7306ec634c3373c2d18e06a00a.jpg" class="card-img-top" alt="Dog 3">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">300$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/b1/a6/36/b1a6369364716f002d1524a6d1ba7e3b.jpg" class="card-img-top" alt="Dog 4">
            <div class="card-body text-center">
                <h5 class="card-title">Cat</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}