{% extends "base.html" %}

{% block body %}

<hr>
<div class="row g-4">
    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/10/aa/3b/10aa3b8d3a6a22b94a49198902ae593d.jpg" class="card-img-top" alt="Dog 1">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/58/d1/aa/58d1aa43641eeafcca13b0b0c746250a.jpg" class="card-img-top" alt="Dog 2">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">150$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/0b/bf/e3/0bbfe3dacc627e697308bd98482dbc6c.jpg" class="card-img-top" alt="Dog 3">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">500$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/98/56/5f/98565ffa727bf9c1482b3b6cbbc08043.jpg" class="card-img-top" alt="Dog 4">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row g-4">
    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/81/7f/e0/817fe0e181ab9085455cb40112099fb1.jpg" class="card-img-top" alt="Dog 1">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">300$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/ac/3e/bd/ac3ebd530642c76ea917af3d048999b5.jpg" class="card-img-top" alt="Dog 2">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">150$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/91/b9/c3/91b9c3f22f1799f8e7dd7e5987f6bc21.jpg" class="card-img-top" alt="Dog 3">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">200$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="card shadow-lg rounded-3 overflow-hidden">
            <img src="https://i.pinimg.com/736x/dd/4c/ff/dd4cff3964a56554929de87592b9e53d.jpg" class="card-img-top" alt="Dog 4">
            <div class="card-body text-center">
                <h5 class="card-title">Dog</h5>
                <p class="card-text">100$</p>
                <a href="3" class="btn btn-lightblue rounded-pill">Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}